.carousel {
    background: linear-gradient(-30deg, #cf693c, #c11843);
}

.logo {
    transition: transform 0.5s ease-in-out;
}

.canAll {
    transition: opacity 0.5s ease-in 0.6s;
}

.night {
    background-color: #180B33FF;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.tickets {
    position: fixed;
    bottom: -1100px;

    transition: transform 0.5s ease-in-out;

    &.shown {
        transform: translateY(calc(-120dvh + 400px));
    }
}

.ticket1 {
    transform: rotate(260deg);
    box-shadow: #180b33 -2px -2px 10px;
    scale: 0.9;
}

.ticket2 {
    transform: rotate(85deg) translateX(-450px) translateY(-20dvw);
    display: block;
    box-shadow: #180b33 2px 2px 10px;
    scale: 0.9
}


